/*
 * tegra186-quill-p3310-c03-00-base.dts Quill C03 Board
 *
 * Copyright (c) 2016-2019, NVIDIA CORPORATION. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 2 of the License.
 *
 * This program is distributed in the hope that it will be useful, but WITHOUT
 * ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
 * FITNESS FOR A PARTICULAR PURPOSE.  See the GNU General Public License for
 * more details.
 */

#include "tegra186-quill-p3310-1000-a00-00-base.dts"

/ {
	nvidia,dtsfilename = __FILE__;
	nvidia,dtbbuildtime = __DATE__, __TIME__;
	nvidia,fastboot-usb-vid = <0x0955>;
	nvidia,fastboot-usb-pid = <0xee16>;

	pinmux@2430000 {
		common {
			gpio_edp2_pp5 {
				status = "okay";
			};

			gpio_edp3_pp6 {
				status = "okay";
			};
		};
	};

	gpio@2200000 {
		/* gpio-name for 40-pin header, gpio-name given as COL(10) x ROW(20) */
		gpio-line-names = "",   "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",    "",    "",     "",     "",    "",    "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",      "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",    "",    "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "GPIO8_ALS_PROX_INT",     "GPIO11_AP_WAKE_BT",
		"",     "",     "I2S0_CLK",     "I2S0_SDOUT",     "I2S0_SDIN",     "I2S0_LRCLK",     "AUDIO_MCLK",    "GPIO20_AUD_INT",    "GPIO1_AUD_RST",   "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",     "",     "",     "",     "",     "SPI1_CLK",     "SPI1_MISO",     "SPI1_MOSI",
		"SPI1_CS0",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",     "",     "",     "",     "UART0_RTS",     "UART0_CTS",     "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "GPIO16_MDM_WAKE_AP",     "",     "",     "",     "",     "",     "",     "",   "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "";

		sdmmc-wake-support-input {
			status = "okay";
		};

		sdmmc-wake-support-output {
			status = "okay";
		};
	};

	gpio@c2f0000 {
		/* gpio-name for 40-pin header, gpio-name given as COL(10) x ROW(20) */
		gpio-line-names = "",   "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",    "",    "",     "",     "",    "",    "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",     "",
		"",     "",     "",     "",     "",     "",     "",     "",     "",      "",
		"AO_DMIC_IN_DAT",     "AO_DMIC_IN_CLK",     "GPIO9_MOTION_INT",     "",     "",     "",     "",     "",     "",     "",
		"",    "",    "",     "",     "",     "",     "",     "",     "",     "";
	};

	fixed-regulators {
		regulator@1 {
			gpio = <&tegra_main_gpio TEGRA_MAIN_GPIO(P, 6) 0>;
                };
	};

	sdhci@3400000 {
		cd-gpios = <&tegra_main_gpio TEGRA_MAIN_GPIO(P, 5) 0>;
		nvidia,cd-wakeup-capable;
	};

	hdr40_i2c0: i2c@3160000 {
		ina3221x@40 {
			channel@0 {
				ti,shunt-resistor-mohm = <10>;
			};
			channel@1 {
				ti,shunt-resistor-mohm = <10>;
			};
		};
		ina3221x@41 {
			channel@0 {
				ti,shunt-resistor-mohm = <20>;
			};
			channel@1 {
				ti,shunt-resistor-mohm = <10>;
			};
			channel@2 {
				ti,rail-name = "VDD_SYS_DDR";
				ti,shunt-resistor-mohm = <10>;
			};
		};
	};

	hdr40_i2c1: i2c@c240000 {
		bmi160@69 {
			compatible = "bmi,bmi160";
			reg = <0x69>;
			interrupt-parent = <&tegra_aon_gpio>;
			interrupts = <TEGRA_AON_GPIO(AA, 2) 0x01>;
			accelerometer_matrix    = [01 00 00 00 01 00 00 00 01];
			gyroscope_matrix        = [01 00 00 00 01 00 00 00 01];
			accelerometer_delay_us_min = <1250>;
			gyroscope_delay_us_min = <1250>;
			vdd-supply = <&spmic_sd3>;
			vdd_IO-supply = <&spmic_sd3>;
			status = "disabled";
		};
	};

	mttcan@c310000 {
		status = "okay";
		gpio_can_stb = <&tegra_aon_gpio TEGRA_AON_GPIO(AA, 0) GPIO_ACTIVE_HIGH>;
		gpio_can_en = <&tegra_aon_gpio TEGRA_AON_GPIO(AA, 1) GPIO_ACTIVE_HIGH>;
	};

	mttcan@c320000 {
		status = "okay";
		gpio_can_stb = <&tegra_aon_gpio TEGRA_AON_GPIO(AA, 6) GPIO_ACTIVE_HIGH>;
		gpio_can_en = <&tegra_aon_gpio TEGRA_AON_GPIO(AA, 7) GPIO_ACTIVE_HIGH>;
	};

	ahci-sata@3507000 {
		gpios = <&spmic 7 0>;
	};

	pcie-controller@10003000 {
		pci@1,0 {
			nvidia,num-lanes = <2>;
			nvidia,disable-clock-request;
		};
		pci@2,0 {
			nvidia,num-lanes = <1>;
		};
		pci@3,0 {
			nvidia,num-lanes = <1>;
		};
	};

        xhci@3530000 {
		phys = <&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-0}>,
			<&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-1}>,
			<&{/xusb_padctl@3520000/pads/usb2/lanes/usb2-2}>,
			<&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-0}>,
			<&{/xusb_padctl@3520000/pads/usb3/lanes/usb3-1}>;
		phy-names = "usb2-0", "usb2-1", "usb2-2", "usb3-0", "usb3-1";
		nvidia,boost_cpu_freq = <1200>;
	};

	xusb_padctl@3520000 {
		ports {
			usb3-1 {
				status = "okay";
			};
			usb3-0 {
				nvidia,usb2-companion = <1>;
				status = "okay";
			};
		};
	};

	/delete-node/ spi@c260000;
	spi1: spi@c260000 {					//new for spi on tx2 and auvidea board(fd)
		status="okay";
		compatible = "nvidia,tegra186-spi";
		reg = <0x0 0x0c260000 0x0 0x10000>;
		interrupts = <0 37 0x04>;
		#address-cells = <1>;
		#size-cells = <0>;
		iommus = <&smmu TEGRA_SID_GPCDMA_0>;
		dmas = <&gpcdma 16>, <&gpcdma 16>;
		dma-names = "rx", "tx";
		nvidia,clk-parents = "pll_p", "osc";
		spi-max-frequency = <25000000>;
		clocks = <&tegra_car TEGRA186_CLK_SPI2>,
			<&tegra_car TEGRA186_CLK_PLLP_OUT0>,
			<&tegra_car TEGRA186_CLK_OSC>;
		clock-names = "spi", "pll_p", "osc";
		resets = <&tegra_car TEGRA186_RESET_SPI2>;
		reset-names = "spi";
			
		spi1_0 {
			status = "okay";
			#address-cells = <0x1>;
			#size-cells = <0x0>;
			compatible = "spidev";
			reg = <0>;
			spi-max-frequency = <25000000>;
			nvidia,enable-hw-based-cs;
			nvidia,cs-setup-clk-count = <0x1e>;
			nvidia,cs-hold-clk-count = <0x1e>;
			nvidia,rx-clk-tap-delay = <0x1f>;
			nvidia,tx-clk-tap-delay = <0x0>;			

			irq-gpio = <&tegra_aon_gpio TEGRA_AON_GPIO(AA, 2) 0x01>;
			interrupt-parent = <&tegra_aon_gpio>;
			interrupts = <TEGRA_AON_GPIO(AA, 2) 0x01>; // GPIO_PAA2
		};
	};

	spi@3230000 {			//new(fd)
		status="okay";
		spi2_0 {
			compatible = "spidev";
			status = "okay";
			reg = <0>;
			spi-max-frequency = <25000000>;			
		};
		spi2_1 {
			compatible = "spidev";
			status = "okay";
			reg = <1>;
			spi-max-frequency = <25000000>;			
		};
	};


	spi@3240000 {			//new(fd)
		status="okay";
		spi3_0 {
			compatible = "spidev";
			status = "okay";
			reg = <0>;
			spi-max-frequency = <25000000>;			
		};
		spi3_1 {
			compatible = "spidev";
			status = "okay";
			reg = <1>;
			spi-max-frequency = <25000000>;			
		};
	};


	fixed-regulators {					//added for fan control on auvidea boards(fd)
		/delete-node/ regulator@13;
		vdd_fan: regulator@13 {
			compatible = "regulator-fixed-sync";
			reg = <13>;
			regulator-name = "vdd-fan";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&tegra_main_gpio TEGRA_MAIN_GPIO(J, 6) GPIO_ACTIVE_LOW>;  
		};
	};


	/delete-node/ pfsd;
	pwm_fan_shared_data: pfsd {
		status = "okay";
		num_resources = <0>;
		secret = <47>;
		active_steps = <10>;
		active_rpm = <0 1000 2000 3000 4000 5000 6000 7000 10000 11000>;
		rpm_diff_tolerance = <2>;
		active_rru = <40 2 1 1 1 1 1 1 1 1>;
		active_rrd = <40 2 1 1 1 1 1 1 1 1>;
		state_cap_lookup = <2 2 2 2 3 3 3 4 4 4>;
		pwm_period = <45334>;
		pwm_id = <3>;
		step_time = <100>; // mesecs
		state_cap = <7>;
		active_pwm_max = <256>;
		tach_period = <1000>;
		pwm_gpio = <&tegra_aon_gpio TEGRA_AON_GPIO(V, 6) GPIO_ACTIVE_LOW>; // TEGRA_MAIN_GPIO_PV6 
		//pwm_gpio = <&tegra_main_gpio TEGRA_MAIN_GPIO(J, 6) GPIO_ACTIVE_LOW>; // TEGRA_MAIN_GPIO_PJ6 
	};
	/delete-node/ pwm-fan;
	pwm-fan {
		status = "okay";
		compatible = "pwm-fan";
		#pwm-cells = <1>;
		pwms = <&tegra_pwm4 0 45334>;
		shared_data = <&pwm_fan_shared_data>;
		active_pwm = <0 80 120 160 255 255 255 255 255 255>;
	};

       bluedroid_pm {
		bluedroid_pm,reset-gpio = <&tegra_main_gpio TEGRA_MAIN_GPIO(H, 5) 0>;
        };

	bpmp_i2c {
		spmic@3c {
			pinmux@0 {
				pin_gpio2 {
					status = "disabled";
				};
				pin_gpio3 {
					status = "disabled";
				};
				pin_gpio7 {
					drive-push-pull = <1>;
				};
			};

			regulators {
				ldo0 {
					maxim,active-fps-source = <MAX77620_FPS_SRC_NONE>;
				};

				ldo6 {
					maxim,active-fps-source = <MAX77620_FPS_SRC_NONE>;
					regulator-boot-on;
					regulator-always-on;
				};

				ldo7 {
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
				};

				ldo8 {
					regulator-name = "dvdd-pex";
					regulator-min-microvolt = <1000000>;
					regulator-max-microvolt = <1000000>;
				};
			};
		};
	};

	sound {
		hdr40_snd_link_i2s: nvidia,dai-link-1 { };
	};
};
